{
    email {$ACME_EMAIL}
}
{$RELAY_DOMAIN} {
    encode zstd gzip
    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        -Server
    }
    request_body {
        max_size 64KB
    }
    reverse_proxy relay:8080
}
